#SUBSYSTEM=="serio", DRIVERS=="psmouse", ACTION=="change", ENV{SERIO_TYPE}=="05", ATTR{device/drift_time}="25", ATTR{press_to_select}="0", ATTR{sensitivity}="175", ATTR{speed}="242", ATTR{inertia}="4"
ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="TPPS/2 IBM TrackPoint", ATTR{device/sensitivity}="240", ATTR{device/press_to_select}="0", ATTR{device/drift_time}="25", ATTR{speed}="128", ATTR{inertia}="4"

