# https://bugzilla.redhat.com/show_bug.cgi?id=1596565     RUN++++++++++++++++++++++++++++++++
KERNEL=="zram0", ATTR{disksize}="1024M" RUN+="/usr/bin/mkswap /dev/zram0", TAG+="systemd"
#KERNEL=="zram1", ATTR{disksize}="512M" RUN="/usr/bin/mkswap /dev/zram1", TAG+="systemd"
